ALTER TABLE custom_build_items DROP CONSTRAINT custom_build_items_product_id_fkey;

ALTER TABLE custom_build_items
ALTER COLUMN product_id TYPE text;

ALTER TABLE custom_build_items
ADD CONSTRAINT custom_build_items_product_id_fkey
FOREIGN KEY (product_id) REFERENCES pc_components(id) ON DELETE CASCADE;

CREATE OR REPLACE FUNCTION upsert_custom_build_item(
  p_build_id uuid,
  p_component_type text,
  p_product_id text
)
RETURNS TABLE (
  id uuid,
  build_code text,
  owner_type text,
  name text,
  build_status text,
  compatibility_status text,
  total_estimated_price_tzs bigint,
  items json,
  created_at timestamptz,
  updated_at timestamptz
) AS $$
DECLARE
  v_existing_item_id uuid;
  v_product_price bigint;
BEGIN
  -- Validate component type
  IF p_component_type NOT IN ('cpu', 'motherboard', 'ram', 'storage', 'psu', 'gpu', 'cooler', 'case') THEN
    RAISE EXCEPTION 'Invalid component_type: %', p_component_type;
  END IF;

  -- Get product price and validate it exists from pc_components
  SELECT price_tzs INTO v_product_price
  FROM pc_components
  WHERE id = p_product_id;

  IF v_product_price IS NULL THEN
    RAISE EXCEPTION 'Product not found';
  END IF;

  -- Check if item with this component type already exists
  SELECT i.id INTO v_existing_item_id
  FROM custom_build_items i
  WHERE i.custom_build_id = p_build_id
    AND i.component_type = p_component_type::component_type;

  IF v_existing_item_id IS NOT NULL THEN
    -- Update existing item
    UPDATE custom_build_items
    SET product_id = p_product_id, quantity = 1, unit_estimated_price_tzs = v_product_price
    WHERE id = v_existing_item_id;
  ELSE
    -- Insert new item
    INSERT INTO custom_build_items (custom_build_id, component_type, product_id, quantity, unit_estimated_price_tzs)
    VALUES (p_build_id, p_component_type::component_type, p_product_id, 1, v_product_price);
  END IF;

  -- Recalculate build total
  UPDATE custom_builds
  SET total_estimated_price_tzs = (
    SELECT COALESCE(SUM(quantity * unit_estimated_price_tzs), 0)
    FROM custom_build_items
    WHERE custom_build_id = p_build_id
  )
  WHERE id = p_build_id;

  -- Return updated build
  RETURN QUERY SELECT * FROM get_custom_build_with_items(p_build_id);
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
ALTER TABLE custom_build_items DROP CONSTRAINT custom_build_items_product_id_fkey; ALTER TABLE custom_build_items ALTER COLUMN product_id TYPE text USING product_id::text; ALTER TABLE custom_build_items ADD CONSTRAINT custom_build_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES pc_components(id) ON DELETE CASCADE;
CREATE OR REPLACE FUNCTION upsert_custom_build_item(p_build_id uuid, p_component_type text, p_product_id text) RETURNS TABLE (id uuid, build_code text, owner_type text, name text, build_status text, compatibility_status text, total_estimated_price_tzs bigint, items json, created_at timestamptz, updated_at timestamptz) AS \$\$ DECLARE v_existing_item_id uuid; v_product_price bigint; v_product_title text; BEGIN IF p_component_type NOT IN ('cpu', 'motherboard', 'ram', 'storage', 'psu', 'gpu', 'cooler', 'case') THEN RAISE EXCEPTION 'Invalid component_type: %', p_component_type; END IF; SELECT price_tzs INTO v_product_price FROM pc_components WHERE id = p_product_id; IF v_product_price IS NULL THEN RAISE EXCEPTION 'Product not found'; END IF; SELECT i.id INTO v_existing_item_id FROM custom_build_items i WHERE i.custom_build_id = p_build_id AND i.component_type = p_component_type::component_type; IF v_existing_item_id IS NOT NULL THEN UPDATE custom_build_items SET product_id = p_product_id, quantity = 1, unit_estimated_price_tzs = v_product_price WHERE i.id = v_existing_item_id; ELSE INSERT INTO custom_build_items (custom_build_id, component_type, product_id, quantity, unit_estimated_price_tzs) VALUES (p_build_id, p_component_type::component_type, p_product_id, 1, v_product_price); END IF; UPDATE custom_builds SET total_estimated_price_tzs = (SELECT COALESCE(SUM(quantity * unit_estimated_price_tzs), 0) FROM custom_build_items WHERE custom_build_id = p_build_id) WHERE id = p_build_id; RETURN QUERY SELECT * FROM get_custom_build_with_items(p_build_id); END; \$\$ LANGUAGE plpgsql SECURITY DEFINER;
